<!--  app/views/users/show.html.erb -->

<div class="profile-pad">
  <div class="row">
    <div class="col-2">
      <%= image_tag 'default.jpg', :style => "width: 100%;" %>
    </div>
    <div class="col-10">
      <div>
        <div class="row">
          <div class="col-12">  
          <h2>@<em><%= @user.user_name %></em></h2>
          </div>
        </div>
        <div class="row index-detail">
          <div class="col-6">
            <%= @user.first_name %> <%= @user.last_name %>
          </div>
          <div class="col-6">
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<hr>

<h2>Posts of @<em><%= @user.user_name %></em></h2>

<div class="row">
  <% @all_posts.each do |post| %>
    <div class="col-4">
      <div class="index-pad">
        <div class="row">
          <div class="col-12">
            <% if post.image.present? %>
              <%= image_tag post.image.url, :style => "width: 100%;" %>
            <% else %>
              <%= image_tag 'default.jpg', :style => "width: 100%;" %>
            <% end %>
          </div>
        </div>
        <div class="index-content">
          <div class="row">
            <div class="col-12">  
              <%= link_to "#{post.title}", post_path(post), :class => "index-title" %>
            </div>
          </div>
          <div class="row index-detail">
            <div class="col-6">
              Post ID:
            </div>
            <div class="col-6">
              <%= post.id %>
            </div>
          </div>
          <div class="row index-detail">
            <div class="col-6">
              Creator ID:
            </div>
            <div class="col-6">
              <%= link_to post.creator_id, user_path(post.creator_id) %>
            </div>
          </div>
          <div class="row index-detail">
            <div class="col-6">
              Post Zip:
            </div>
            <div class="col-6">
              <%= post.zipcode %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
