<h2>All Posts</h2>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <%= form_tag posts_path, method: :get do %>
      <%= label_tag :search_by_title %>
      <%= text_field_tag :search_by_title, params[:search_by_title] %>
      <%= label_tag :search_by_zipcode %>
      <%= text_field_tag :search_by_zipcode, params[:search_by_zipcode] %>
      <%= submit_tag "Search", class: 'btn btn-primary'%>
    <% end %>
  <div>
</div>

<table class="table table-striped col-md-12" id="posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Post ID</th>
      <th>Creator ID</th>
      <th>Zipcode</th>
    </tr>
  </thead>
  <tbody>
    <% @all_posts.each do |post| %>
      <tr>
        <td>
          <%= link_to "#{post.title}", post_path(post) %>
        </td>
        <td>
          <%= post.id %>
        </td>
        <td>
          <%= post.creator_id %>
        </td>
        <td>
          <%= post.zipcode %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new post', new_post_path, class: 'btn btn-primary' %>
