<h2>Create New Post</h2>

<%= form_for @post, url: posts_path, html:{multipart: true} do |form| %>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..9, step: 1 %>
  </div>
  <%= form.submit %>
<% end %>