<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Good Points</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="nav-pad navbar-expand-lg bg-primary text-white mb-3">
    <div class="row">
      <div class="col-4">
        <h1 class="title">Good Points</h1>
      </div>
      <% if logged_in? %>
          <div class="col-4"></div>
          <div class="col-2 center">
            Welcome 
            <%= link_to current_user.user_name, user_path(current_user.id), class: 'user-name', style: 'display: inline;' %>
          </div>
          <div class="col-2 center">
            <%= link_to "Sign Off", '/signoff', method: :get, class: 'btn btn-secondary', style: 'display: inline;' %>
          </div>
      <% else %>
        <%= button_to "Login", '/login', class: 'btn btn-outline-warning', method: :get, :id =>'nav-login-but', :style=>"transform: translateX(20%)"%>
        <%= button_to "Sign Up", '/users/new', class: 'btn btn-outline-warning', method: :get, :id => 'nav-signup-but',:style=>"transform: translateX(30%)"%>
      <% end %>
    </div>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
